extends layout

block content
    div.row.height100
        div.col-custom-left.height100
            img.logo(src="./images/logo.png");
            p A third of business owners worry about getting their VAT returns wrong, for others the stress is the amount of time it takes.
            p It's time to stop stressing and put the TEA into VAT.
        div.col-custom-right
            div.sage-logo
                img.arrow(src="./images/sage_logo.png")
            div.state1
                div.intro
                    p Enter the names of your colleagues below & click 'get brewing' to see who has to make the next cup of tea.
                    img.arrow(src="./images/down-arrow.png")
                div.names
                    div(data-id="0").row.input-row
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div(data-id="1").row.input-row
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div(data-id="2").row.input-row
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div(data-id="3").row.input-row
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div(data-id="4").row.input-row
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div(data-id="5").row.input-row.hidden
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div(data-id="6").row.input-row.hidden
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div(data-id="7").row.input-row.hidden
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div(data-id="8").row.input-row.hidden
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div(data-id="9").row.input-row.hidden
                        div.col-md-12
                            input(type="text", placeholder="Enter name").col-md-12
                    div.row
                        div.col-md-12
                            button.btn.col-md-12.go Get brewing!
            div.state2.hidden
                div.winner-badge
                    span.title Time to put the kettle on
                    span#name Rick Burgess
                div.share
                    span.scope-note Let {{player name}} know they lost
                    a.email(href="#email", target="_blank") e-mail them
                    a.twitter(href="#twitter", target="_blank") tweet them
                button.btn.col-md-12.replay Play again
            
    div(role="dialog", aria-labelledby="myModalLabel", aria-hidden="true").modal.fade#reset
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button(type="button", data-dismiss="modal", aria-hdden="true").close &times;
                        h4.modal-title All Tea'd Out
                    div.modal-body
                        p Everyone has made their round!, click reset to start a new round.
                    div.modal-footer
                        button(type="button").btn.btn-primary#reset-btn Reset