doctype 5
html
  head
    title= title

    link(type="image/x-icon", href="./images/favicon.ico", rel="shortcut icon", lan="en")
    link(rel="apple-touch-icon", href="./images/apple-touch-icon.png")
    link(rel="apple-touch-icon", sizes="72x72", href="./images/Sage_iOS_72.png")
    link(rel="apple-touch-icon", sizes="114x114", href="./images/Sage_iOS_114.png")
    link(rel="apple-touch-icon", sizes="144x144", href="./images/Sage_iOS_144.png")
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='./css/style.css')

    <!--[if lt IE 9]>
    script(src="./js/html5shiv.js")
    <![endif]-->

    <!--[if lte IE 7]>
    link(rel='stylesheet', href='./css/ie.css')
    <![endif]-->
    meta(name="viewport", content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    div.container.height100
        block content

    script(src="//code.jquery.com/jquery-1.10.2.min.js")
    script(src="./js/placeholder.js", defer)
    script(src="./js/bootstrap.min.js", defer)
    script(src="./js/main.js", defer)
