doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/style.css')

    meta(name="viewport", content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    div.container
        block content

    script(src="http://code.jquery.com/jquery-2.0.3.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/main.js")