doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    <!--[if lt IE 9]>
    script(src="/js/html5shiv.js")
    <![endif]-->

    <!--[if lte IE 7]>
    link(rel='stylesheet', href='/css/ie.css')
    <![endif]-->
    meta(name="viewport", content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    div.container.height100
        block content

    script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    script(src="/js/placeholder.js", defer)
    script(src="/js/bootstrap.min.js", defer)
    script(src="/js/main.js", defer)