.container{
	max-width: 700px !important;
	border:1px solid #efefef;
	padding-bottom:10px;
	margin-top: 10px;
}

.input-icon{
	padding-top:4px;
}

.input-row{
	padding-bottom: 5px;
}

.used{
	opacity: 0.5;
}

.used icon{
	content: "\e084";
}

#winner{
	text-align: center;
	position: relative;

}

.center{
	position: absolute;
	top: 50%;
	margin: 0 auto;
	
}

.tbl{
	display: table;
	width: 100%;
}

.tbl .cell{
	display: table-cell;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#app-title{
	text-align:center;
}